# Generator options
GIT_GEN_BASE_BRANCH=main

# Proxy options
GIT_GEN_PROXY_TYPE=socks5
GIT_GEN_PROXY_ADDR=hostname:1080
GIT_GEN_PROXY_LOGIN=user
GIT_GEN_PROXY_PASSW=password

# LLM OpenAI options
GIT_GEN_OPENAI_API=https://openrouter.ai/api/v1
GIT_GEN_OPENAI_TOKEN=sk-or-v1-1234567890
GIT_GEN_OPENAI_MODEL=inclusionai/ling-3.0-flash:free
