LOG_LEVEL=info

# Proxy options
PROXY_TYPE=socks5
PROXY_ADDR=hostname:1080
PROXY_LOGIN=user
PROXY_PASSW=password

# LLM OpenAI options
OPENAI_API=https://openrouter.ai/api/v1
OPENAI_TOKEN=sk-or-v1-1234567890
OPENAI_MODEL=inclusionai/ling-3.0-flash:free